<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expired books</title>
</head>
<body>
<table class="table table-bordered table-striped" style="width:60%; text-align:center; vertical-align:10px;">
    <tr>
        <th style="width:10%;">ID</th>
        <th style="width:30%;">Title</th>
        <th style="width:30%;">Taken at</th>
        <th style="width:30%;">Taken by</th>
    </tr>
    <tbody>
    <tr th:each="book: ${expiredBooks}" >
        <td style="text-align: center" th:text="${book.getId()}"/>
        <td>
            <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}"/>
        </td>
        <td th:text="${book.getTakenAt()}"/>
        <td>
            <a th:href="@{/people/{id}(id=${book.getOwner().getId()})}" th:text="${book.getOwner()}"/>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>