<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<a href="/people">Go to People</a>
</br>
<a href="/books/new">Add new book</a>
</br>
<a href="/books/search">Books search</a>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
<table class="table table-md table-bordered">
    <tr style="text-align: center; vertical-align: 10px">
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Taken by</th>
    </tr>
    <tbody>
    <tr th:each="book: ${books}">
        <td style="text-align: center" th:text="${book.getId()}"/>
        <td>
            <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}"/>
        </td>
        <td th:text="${book.getAuthor()}"/>
        <td th:text="${book.getOwner()}"/>
        <td>
    </tr>
    </tbody>
</table>
</html>