<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .animated-link:hover {
            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
        }

        .animated-link:focus {
            outline: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand animated-link" href="/books/new">Add new Book &#128214;</a>
    <a class="navbar-brand animated-link" href="/people">Go to People &#129488;</a>
    <a class="navbar-brand animated-link" href="/books/search">Book search &#128270;</a>
    <a class="navbar-brand animated-link" href="/books/expired">Expired books &#128271;</a>
    <a class="navbar-brand animated-link" href="/books/report">Generate Books report &#128273;</a>
    <form class="form-inline ml-auto my-2 my-lg-0" th:method="POST" th:action="@{/books/search}">
        <input class="form-control mr-sm-2" type="text" placeholder="Enter book to find" id="query" name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

    <div class="container mt-4">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th style="width:15%;" class="text-center">ID</th>
                <th style="width:30%;" class="text-center">Title</th>
                <th style="width:20%;" class="text-center">Author</th>
                <th style="width:35%;" class="text-center">Taken by</th>
            </tr>
            </thead>
    <tbody>
    <tr th:each="book: ${books}" th:class="${book.id % 2 == 0} ? 'even' : 'odd'">
        <td th:text="${book.getId()}"></td>
        <td><a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}"></a></td>
        <td th:text="${book.getAuthor()}"></td>
        <td th:text="${book.getOwner()}"></td>
    </tr>
    </tbody>
</table>

<hr>
</body>
</html>
