<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}">
    <label for="query">Enter search parameters </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Search!"/>
</form>
<a href="/people">Return to people</a>
</br>
<a href="/books">Return to books</a>
</br>
<hr>
<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <span>No book found</span>
    </div>

    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>

        <div th:if="${book.getOwner() != null}">
            <span>The book is now assigned: </span> <span th:text="${book.getOwner().getFullName()}">Person Name</span>
            <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
                <input type="submit" value="Release the book!"/>
            </form>
        </div>

        <div th:if="${book.getOwner() == null}">
            <span>The book is free now</span>
        </div>

        <hr/>
    </div>
</div>

</body>
</html>