<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<a href="/people/new">Add new Person</a>
<br/>
<a href="/books">Go to Books</a>
<body>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
<table class="table table-md table-bordered">
    <tr style="text-align: center; vertical-align: 10px">
        <th>ID</th>
        <th>Full Name</th>
        <th>Year Of Birth</th>
    </tr>
    <tbody>
    <tr th:each="person: ${people}">
        <td style="text-align: center" th:text="${person.getId()}"/>
        <td>
            <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getFullName()}"/>
        </td>
        <td th:text="${person.getYearOfBirth()}"/>
    </tr>
    </tbody>
</table>



<br/>
<hr/>



</body>
</html>